// Fonts
$font-primary: Hack, D2Coding, "D2 coding", "Karla", sans-serif, monospace;
$font-secondary: Hack, D2Coding, "D2 coding", "Karla", serif, monospace;
//$font-secondary: "Crimson Text", serif;

// Colors
$color-accent: #d4a259;
$gray-darkest: #1d1d1d;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
